body {
    background: linear-gradient(bisque, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* h1 {
    color: skyblue;
    font-size: 50px;
} */

img {
    margin-left: 250px;
}

button {
    background-color: unset;
    color: unset;
    border-radius: 12%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
}

#container {
    text-align: center;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#counter {
    font-size: 50px;
}

.myLabels {
    font-size: 3em;
}

form {
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#temperatureInput {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}

#dice {
    width: 10%;
    margin: 5px;
}

#diceResults {
    font-weight: bold;
    word-wrap: break-word;
    padding: 10px;
}

#diceInput {
    width: 40%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
}

#diceImages {
    display: flex;
    max-width: 350px;
    flex-wrap: wrap;
}

#callbackResult {
    display: flex;
    margin-top: 10px;
}

#investmentFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#investmentInput {
    width: 40%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
}

#interestRateInput {
    width: 40%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
}

#yearsInput {
    width: 40%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, 0.8);
    border-radius: 4px;
}

#compoundInterestLabel {
    color: green;
    font-size: 1.5em;
    font-weight: bold;
}

#digitalClock {
    display: flex;
    justify-content: center;
    font-size: 5em;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 50px;
}

#stopwatchContainer {
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#stopwatchDisplay {
    font-size: 3em;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    padding-bottom: 15px;
}

.box {
    border: 3px solid;
    width: 100%;
    height: 125px;
}

#myBox {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
}