body {
    background: linear-gradient(bisque, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: pink;
    font-size: 50px;
}

img {
    margin-left: 250px;
}

button {
    background-color: unset;
    color: unset;
    border-radius: 12%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
}

#container {
    text-align: center;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#counter {
    font-size: 50px;
}

.myLabels {
    font-size: 3em;
}